---
layout: default
---

<h1>
<a href="../index.html">{{ page.kanji }}</a>
</h1>

<h1>
<span class="left-arrow">
  <a href="../{% if page.prev != "" %}{{ page.prev }}/index.html{% endif %}">&larr;</a>
</span>
<span class="right-arrow">
  <a href="../{% if page.next != "" %}{{ page.next }}/index.html{% endif %}">&rarr;</a>
</span>
</h1>

<h2><code title="Frame number V4: {{ page.v4 }}, V6: {{ page.v6 }}">{{ page.keyword }}</code></h2>

<div id="kanjiViewer">
  <div id="draw"></div>
  <div id="sample-btn">
    <button id="p" title="Nét trước">‹</button>
    <button id="s" title="Tạm dừng">■</button>
    <button id="g" title="Phát">▶</button>
    <button id="n" title="Nét tiếp">›</button>
    <button id="r" title="Xóa">✕</button>
  </div>
</div>

<h3>On-Yomi: <a>{{ page.on-yomi }}</a> {% if page.kun-yomi %}— Kun-Yomi: <a>{{ page.kun-yomi }}</a>{% endif %}</h3>
<h3>Hán-Việt: <a>{{ page.hanviet }}</a></h3>

{% if page.elements %}
<h3>Thành phần: <a>{{ page.elements }}</a></h3>
{% endif %}

	{% if page.primit %}
    <h2>Bộ thủ gốc:</h2>
    <p>{{ page.primit }}</p>
	{% endif %}

<h2>Câu chuyện Koohii:</h2>
{{ content }}

<hr>
<nav class="pagination" role="navigation">
<a href="../{% if page.prev != "" %}{{ page.prev }}/index.html{% endif %}" class="btn btn-blue">&laquo;</a>
<a class="btn btn-blue" href="../index.html">🏠</a>
<a class="btn btn-blue" href="../rtk1-v6/index.html">RTK1</a>
<a href="../{% if page.next != "" %}{{ page.next }}/index.html{% endif %}" class="btn btn-blue">&raquo;</a>
</nav>
